* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#board {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
}

.square {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    font-size: 45px;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.square:hover {
    background: #eee;
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#head {
    font-size: 25px;
    padding: 15px;
}

.square:nth-child(7), .square:nth-child(8), .square:nth-child(9) {
    border-bottom: 0;
}

.square:nth-child(1), .square:nth-child(2), .square:nth-child(3) {
    border-top: 0;
}

.square:nth-child(3n+1) {
    border-left: 0;
}

.square:nth-child(3n) {
    border-right: 0;
}