.heading {
    background: url('../../../asserts/img/dashboard.png') no-repeat center;
    text-align: center;
    height: 200px;
    line-height: 200px;
    background-size: cover;
    span {
        color: #fff;
        font-size: 55px;
        font-family: openExBold;
    }
}