/* Base */
@font-face {
  font-family: "Open Sans","Microsoft YaHei","Hiragino Sans GB","Hiragino Sans GB W3","微软雅黑","Helvetica Neue",Arial,sans-serif;
  src: url('./asserts/fonts/OpenSans-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  background: #223;
  color: #fff;
  font-family: "Open Sans","Microsoft YaHei","Hiragino Sans GB","Hiragino Sans GB W3","微软雅黑","Helvetica Neue",Arial,sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* Page */
.page__inner {
  height: 100vh;
}

.page {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  /* width: 100%; */
  -webkit-overflow-scrolling: touch;
  transition: transform 1s ease-in-out, box-shadow 1s ease-in-out;
}

.Thoughtworks-microsi {
  width: 258px;
  height: 24px;
  font-family: "Open Sans","Microsoft YaHei","Hiragino Sans GB","Hiragino Sans GB W3","微软雅黑","Helvetica Neue",Arial,sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  margin-left: 80px;
  margin-top: 33px;
  margin-bottom: 70px;
}

.page-enter {
  transform: translate(-100%, 0);
}

.page-enter-active {
  transform: translate(0, 0);
}

.page-exit {
  box-shadow: 0 0 5em 0 rgba(0, 0, 0, 0.5) inset;
  transform: translate(-100%, 0);
}

.page--prev.page-enter {
  transform: translate(100%, 0);
}

.page--prev.page-enter-active {
  transform: translate(0, 0);
}

.page--prev.page-exit {
  transform: translate(100%, 0);
}

.page-exit .page__inner {
  opacity: 0;
  transform: scale(0.9);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.gooey a {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  color: #fff;
  text-decoration: none;
  font-size: 3em;
  font-style: italic;
}

.logo {
  bottom: 1em;
  left: 0;
  right: 0;
  padding: 30px;
  float: left;
  margin-left: 74px;
}
.snake-logo {
  bottom: 1em;
  left: 0;
  right: 0;
  width: 20em;
  padding: 30px;
  /* float:left; */
}

.Lets-play {
  /* width: 179px; */
  height: 49px;
  font-family: "Open Sans","Microsoft YaHei","Hiragino Sans GB","Hiragino Sans GB W3","微软雅黑","Helvetica Neue",Arial,sans-serif;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.game-preview {
  width: 50%;
  height: 100%;
  object-fit: contain;
  margin: 0;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #ffffff;
  position: relative;
}

.logo-box {
  width: 80%;
  height: 100%;
  display: inline;
  margin: 0;
  float: left;
  display: flex;
  border-radius: 4px;
  box-shadow: 2px 2px 4px 2px rgba(128, 128, 128, 0.5);
  background-color: #ffffff;
}

.play-button {
  width: 198px;
  border-radius: 2px;
  background-color: #000000;
  margin-top: 50px;
  font-family: "Open Sans","Microsoft YaHei","Hiragino Sans GB","Hiragino Sans GB W3","微软雅黑","Helvetica Neue",Arial,sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: normal;
  color: #ffffff;
}

.Level-1-Instructions {
  font-family: "Open Sans","Microsoft YaHei","Hiragino Sans GB","Hiragino Sans GB W3","微软雅黑","Helvetica Neue",Arial,sans-serif;
  font-size: 18px;
  text-align: justify;
  letter-spacing: normal;
  /* color: #000000; */
  color:#221d1f;
  width: 50%;
  margin: 0;
  float: left;
  padding: 30px;
  line-height: 1.6em;
  /* padding-top: 100px; */
  font-weight: 100;
  margin-top:60px;
}

.preview-image {
  height: 100%;
}

.text-style-1 {
  font-size: 18px;
  font-weight: 600;
}

.game-preview .game-name {
  font-family: "Open Sans","Microsoft YaHei","Hiragino Sans GB","Hiragino Sans GB W3","微软雅黑","Helvetica Neue",Arial,sans-serif;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 60%;
  color: white;
}

.banner .gids-title{
  position:absolute;
  z-index: 999;
  color: white;
  margin: 0 auto;
  top: 40%;
  left: 10%;
  letter-spacing: -3.2px;
    line-height: 58px;
    font-weight: 700;
    font-size: 60px;
}

.banner{
  position: relative;
  display: inline-block;
}

.play-game-box {
  height: 60%;
  width: 100%;
  box-shadow: 2px 2px 4px 2px rgba(162, 162, 162, 0.5);
  border: solid 1px #808285;
  background-color: #f8f8f8;
  padding: 50px 30px 50px 30px;
  display: flex;
}

.answer_box {
  width: 141px;
  height: 1px;
  border: solid 4px #000000;
}

.counter {
  position: relative;
  width: 200px;
  height: 200px;
}

.counter li {
  position: absolute;
  animation: count-up 1s linear;
}

/* animation */
.gooey {
  background-color: #f58932;
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  animation: morph 15s linear infinite;
  transform-style: preserve-3d;
  outline: 1px solid transparent;
  will-change: border-radius;
  width: 30em;
  height: 30em;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 1;
  white-space: nowrap;
  cursor: pointer;
}

.gooey:before,
.gooey:after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  will-change: border-radius;
  animation: morph 15s linear infinite;
  animation-delay: 5s;
  background-color: #f58932;
}

.gooey:after {
  animation-delay: 10s;
}

.gooey-large {
  width: 35em;
  height: 35em;
}

.gooey-Ex-large {
  width: 90%;
  height: 100%;
  background-color: #f58932;
  border-radius: 0 98% 88% 0 / 197% 261% 139% 23%;
  overflow: hidden;
}

@keyframes morph {
  0%,
  100% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  34% {
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
  }
  50% {
    opacity: 0.89;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
  }
}

@keyframes hide-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

div.code {
  text-align: center;
  padding: 10%;
}

.hint {
  padding: 1em 0;
  margin: 0 auto;
  font-size: 2em;
}

.hint.did-you-know {
  font-size: 2.4em;
}

.hint h1 {
  color: #fff;
}

.hint h1 {
  color: #fff;
}
